.routingComponent {
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 300px; 
    height: 225px;
    color: white;
}

.routeActive {
    background-color: #00BB89;
    color: white;
}

.routeDeparted {
    background-color: #6E8998;
    color: white;
}

.routeScheduled {
    background-color: #0078D1; 
    color: white;
}
